<div id="page_state" class="container-fluid" style="display:none">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Update your state</h3>
            <h5 class="text-center">Let folks who follow you about your state</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="users" id="txtState"/>
            <!-- Split button -->
            <div class="btn-group width-full" style="margin-top:20px">
                <button type="button" class="btn btn-info width-full" onClick="UpdateStateController.updateState( $('#txtState').val() )">Update my state</button>
            </div>
        </div>
    </div>
</div>